[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
app = "python run.py"
tests = "bash ./run_tests.sh"
format = "black ."
mypy_install_types = "mypy --install-types"

[packages]
uvloop = {version = "*", sys_platform = "== 'linux'"}
redis = "*"
"discord.py" = "*"
dateparser = "*"
recurrent = "*"
charset-normalizer = "*"

[dev-packages]
mypy = "*"
black = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.11"
