[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
app = "python run.py"
mypy = "mypy ."
tests = "coverage run -m pytest"
format = "black ."
mypy_install_types = "mypy --install-types"

[packages]
uvloop = {version = "*", sys_platform = "== 'linux'"}
"discord.py" = "*"
charset-normalizer = "*"
redis = "*"
recurrent = "*"

[dev-packages]
mypy = "*"
black = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.11"
