:root {
    --bg: #313338;
    --bg2: #1e1f22;
    --bg3: #2b2d31;
    --primary: #bf9be7;
}

* {
    transition: 0.2s ease-out;
    font-family: "gg sans";
    font-size: 1.1rem;
    box-sizing: border-box;
    accent-color: var(--primary);
}

*::-webkit-scrollbar {
    width: 4px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--primary);
}

::selection {
    background-color: var(--primary);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    display: flex;
    height: 100vh;
    width: 100vw;
    color: white;
}

input, textarea {
    border: none;
    border-radius: 7px;
    background-color: #383a40;
    color: white;
    padding: 10px;
    width: 100%;
}
input:focus, textarea:focus {
    outline: none;
}

textarea {
    height: 150px;
    width: 100%;
}

input[type="checkbox"] {
    width: auto;
}

input[type="range"] {
    padding: 0;
    width: 14rem;
}

input[name="Importance"] {
    position: relative;
}
input[name="Importance"]::before {
    content: "Trivial";
    position: absolute;
    top: 15px;
    font-size: 0.75rem;
    color: #ed5555;
}
input[name="Importance"]::after {
    content: "Important";
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 0.75rem;
    color: #2fa69a;
}

input[name="Energy"] {
    position: relative;
}
input[name="Energy"]::before {
    content: "Tiring";
    position: absolute;
    top: 15px;
    font-size: 0.75rem;
    color: #ed5555;
}
input[name="Energy"]::after {
    content: "Energizing";
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 0.75rem;
    color: #2fa69a;
}

h1 {
    font-size: 2rem;
}
h1 > span {
    font-size: 2rem;
    color: var(--primary);
}

h2 {
    font-size: 1.5rem;
}

code {
    display: block;
    font-size: 0.8rem;
    background-color: var(--bg3);
    border: 0.5px solid #1e1f22;
    padding: 7px 10px;
    border-radius: 4px;
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
    user-select: none;
}
code.success {
    border: 0.5px solid #23a55a;
}
code.error {
    border: 0.5px solid #f23f42;
}

.x {
    border: 1px solid red;
}

.inputs-section {
    padding: 20px;
    padding-right: 30px;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}
.inputs-section > * {
    display: inline-block;
    margin: 8px 5px;
    width: 100%;
}

.outputs-section {
    width: 50%;
    background-color: var(--bg2);
    padding: 10px 20px 15px 30px;
    overflow: scroll;
}
